.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  color: white;
}

.App-header {
  flex-shrink: 0;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  font-weight: 600;
  border-right: 1px solid black;
}

.App-header .App-link {
  color: #61dafb;
  text-decoration: none;
  padding: 5px 20px 5px 5px;
}

.App-header .App-link.active {
  background: white;
  color: #282c34;
}

.App-main {
  flex: auto;
  height: 100vh;
  overflow: auto;
  display: flex;
}

.center {
  align-self: center;
  margin: auto;
}

.center-top {
  align-self: top;
  margin: 0 auto;
}

.redBox {
  background: red;
  height: 250px;
  width: 50%;
  margin: auto;
}

.greenBox {
  background: green;
  height: 200px;
}

.error {
  color: red;
}

.wide-input {
  width: 80%;
  margin-right: 20px;
}

.product {
  display: flex;
  border: 1px solid white;
  padding: 20px;
  margin: 10px;
  border-radius: 14px;
  text-align: left;
}

.product_data {
  flex: 1 1 auto;
  width: 80%;
}

.product_desc {
  padding-right: 20px;
}

.product_img {
  display: flex;
  flex: 0 0 230px;
  max-height: 230px;
}

.product_img img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.itemBox {
  height: 100px;
  margin: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 14px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollDiv {
  height: 100px;
}

.narrow-block {
  max-width: 500px;
}